<div class="sidebar py-2 shadow-sm h-100 bg-white">
    <div class="sidebar-section">
        <h6 class="sidebar-title fw-bold mb-3 p-3 fs-6 text-uppercase text-muted small border-bottom">
            Portal do Administrador
        </h6>
        
        <a href="#" id="link-vagas" class="sidebar-item text-decoration-none">
            <i class="fa-solid fa-chart-bar"></i>
            <span>Dashboard</span>
        </a>
        
        <a href="#" id="link-perfil" class="sidebar-item text-decoration-none">
            <i class="fa-solid fa-message"></i>
            <span>Gestão de Vagas</span>
        </a>
        <a href="folhaPagamento.html" id="link-perfil" class="sidebar-item text-decoration-none">
            <i class="fa-solid fa-money-bill"></i>
            <span>Folha de Pagamento</span>
        </a>
        <a href="#" id="link-perfil" class="sidebar-item text-decoration-none">
            <i class="fa-solid fa-users"></i>
            <span>Gestão de Funcionários</span>
        </a>
        <a href="configuracoes-admin.html" id="link-configuracoes" class="sidebar-item text-decoration-none">
            <i class="fa-solid fa-sliders"></i>
            <span>Configurações</span>
        </a>
    </div>
        <div class="sidebar-section d-flex justify-content-around">
        <i id="theme-toggle-dark" class="sidebar-icons aside_items fa-solid fa-moon"></i>
        <i id="theme-toggle-light" class="sidebar-icons aside_items fa-solid fa-sun"></i>
    </div>
    </div>
    </div>
</div>