<div class="sidebar py-2 shadow-sm">
    <div class="sidebar-section">
        <h6 class="sidebar-title fw-bold mb-2 p-2 fs-6">Geral</h6>
        <a href="#" class="sidebar-item">
            <i class="fa-solid fa-user-tie"></i>
            <span>Funcionarios</span>
        </a>
        <a href="##" class="sidebar-item">
            <i class="fa-solid fa-money-check-dollar"></i>
            <span>Contracheque</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-solid fa-receipt"></i>
            <span>Vagas</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fa-solid fa-suitcase"></i>
            <span>Pagamento</span>
        </a>
    </div>

    <div class="sidebar-section">
        <h6 class="sidebar-title fw-bold mb-2 p-2 fs-6">Suporte</h6>
        <a href="#" class="sidebar-item">
            <i class="fas fa-headset"></i>
            <span>Ajuda</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-solid fa-gear"></i>
            <span>Configurações</span>
        </a>
        <a href="#" class="sidebar-item">
            <i class="fas fa-file-alt"></i>
            <span>Termos de uso</span>
        </a>
    </div>

    <div class="sidebar-section d-flex justify-content-around">
        <i id="theme-toggle-dark" class="sidebar-icons aside_items fa-solid fa-moon"></i>
        <i id="theme-toggle-light" class="sidebar-icons aside_items fa-solid fa-sun"></i>
    </div>
</div>