<div class="sidebar py-2 shadow-sm h-100">
    <div class="sidebar-section">
        <h6 class="sidebar-title fw-bold mb-3 p-3 fs-6 text-uppercase text-muted small border-bottom">
            Portal do Funcionario
        </h6>
        
       <a href="portalFuncionario.html" class="sidebar-item text-decoration-none">
            <i class="fas fa-chart-line"></i>
            <span>Dashboard</span>
        </a>
        
        <a href="contracheques.html" class="sidebar-item text-decoration-none">
            <i class="fas fa-file-invoice-dollar"></i>
            <span>Meus Contracheques</span>
        </a>

        <a href="comunicados.html" class="sidebar-item text-decoration-none">
            <i class="fas fa-bullhorn"></i>
            <span>Comunicados</span>
        </a>

        <a href="perfilFuncionario.html" class="sidebar-item text-decoration-none">
            <i class="fas fa-user-circle"></i>
            <span>Meus Dados</span>
        </a>
    </div>

    <div class="sidebar-section d-flex justify-content-around mt-3">
        <i id="theme-toggle-dark" class="sidebar-icons aside_items fa-solid fa-moon"></i>
        <i id="theme-toggle-light" class="sidebar-icons aside_items fa-solid fa-sun"></i>
    </div>
</div>