<div class="sidebar py-2 shadow-sm h-100 bg-white">
    <div class="sidebar-section">
        <h6 class="sidebar-title fw-bold mb-3 p-3 fs-6 text-uppercase text-muted small border-bottom">
            Portal do Funcionario
        </h6>
        
        <a href="#" id="link-vagas" class="sidebar-item text-decoration-none">
            <i class="fa-solid fa-money-bill"></i>
            <span>Contracheque</span>
        </a>
        
        <a href="#" id="link-perfil" class="sidebar-item text-decoration-none">
            <i class="fas fa-user-circle me-2"></i>
            <span>Meus Dados</span>
        </a>
    </div>
        <div class="sidebar-section d-flex justify-content-around">
        <i id="theme-toggle-dark" class="sidebar-icons aside_items fa-solid fa-moon"></i>
        <i id="theme-toggle-light" class="sidebar-icons aside_items fa-solid fa-sun"></i>
    </div>
    </div>
    </div>
</div>