

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



#centralize{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: white;
    
}

main p{
    text-align: center;
    color: #80C0D4;
    
}
main a{
    text-decoration: none;
}

.initials{

    padding: 20px;
    border: 20px;
    border-radius: 40px;
    border-color: aqua;
    
}

.login-imput{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    
    color: gray;
    border-color: lightgrey;
}

#Login-Button{
    
    
    height: 35px;
    width: 100px;
    border: 20px;
    border-radius: 5px;
    background-color: #80C0D4;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;

}

h1{
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 5px;
}

h2{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 5px;
}