/*adiciona fonte principal Inter*/
:root {
    --cor-azul: #80C0D4;
    --cor-azul-secundaria: #C7E9FF;
    --cor-fundo: #FAFAFA;
    --cor-texto: #1a1a1a;
    --fonte-principal: 'inter';
    --yellow: #ffd966;
    --red: #ff5c5c;
    --shadow: 0 8px 28px rgba(0, 0, 0, .08);
    --radius: 12px;
    --muted: #eeeeee;
}