@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*adiciona fonte principal Inter*/
:root{
    --cor-azul: #80C0D4;
    --cor-azul-claro: #C7E9FF;
    --cor-fundo: #FAFAFA;
    --cor-texto: #1a1a1a;
    --fonte-principal: 'inter';
}