.chart-wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-center-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
    pointer-events: none;
}

#funcionariosChart{
    position: relative;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}